body{
    background: #e9ebee;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a{
    color:#1176b6;
}
a:hover{
text-decoration: underline}

header{
background: #2e2e2e;
padding: 10px 0;
}

header .logo img{
    height: 25px;
}

.input-search{
    width:100%;
    background: white;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px 0 0 3px;
    font-family: 'Open Sans', sans-serif   ;
}

header .buscador form button{
    width: 100%;
    background: white;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: #6d6d6d;
}
header .buscador form button:hover{
    background: #099efc;
    color: #fff;
}

/* MENU */

header .menu a{
color: rgba(255,255,255,.8);
text-decoration: none;
}
header .menu a:hover{
    color: #fff;
    }

header .menu .imagen-perfil{
    display: inline-block;
}

header .menu .imagen-perfil img{
    border-radius: 100%;
}

/*  MAIN*/
main{
    padding-top:20px;
}
/*  BARRA LATERAL IZQUIERDA*/
main{
    padding-top:20px;
}
main .barra-lateral-izq{
    padding-bottom: 10px;
    padding-left: 0px,
}
main .barra-lateral-izq nav{
    border-bottom: 1px solid #c7c8ca;
    padding-bottom: 20px;
}

main .barra-lateral-izq nav a{
    display: block;
    color: #3d3d3d;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
}
main .barra-lateral-izq nav a:hover{
background: #f2f2f2;
text-decoration: none;
}
main .barra-lateral-izq nav a i{
    margin-right: 10px;
    }

/* MEDIAQUERIES*/

@media screen and (max-width:575px) {
    header .menu{
        padding: 0 15px 0 15px;
    }
}
